@{
    ViewData["Title"] = "Reset Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Reset Password</h1>
<section class="content container">
    <div class="row">
        <!-- left column -->
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Reset Password User</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form method="post" asp-action="/Admins/ResetPassword" class="mx-auto">
                    <div class="box-body" >
                        <div class="form-group">
                            <label for="exampleInputEmail1">User Email:</label>
                            <div class="input-group">
                                <input type="email" class="form-control" id="exampleInputEmail1" name="userEmail"
                                    value="@ViewBag.UserEmail" readonly>
                            </div>

                        </div>

                        <div class="form-group">
                            <label for="exampleInputPassword1"> New Password:</label>
                            <div class="input-group">
                                <input type="password" class="form-control" id="exampleInputPassword1"
                                    name="passwordNew" required>
                                <div class="input-group-append" style="display: flex; align-items: center;">
                                    <button class="btn btn-outline-secondary" type="button"
                                        onclick="togglePasswordVisibility()">
                                        <i id="passwordToggleIcon" class="fa fa-eye-slash"></i>
                                    </button>
                                </div>
                            </div>
                        </div>


                        <!-- /.box-body -->
                        <div class="box-footer">
                            <button type="submit" class="btn btn-primary">Reset Password</button>
                        </div>
                </form>
            </div>
            <!-- /.box -->
        </div>
    </div>
</section>

<script>
    function togglePasswordVisibility() {
        var passwordInput = document.getElementById("exampleInputPassword1");
        var passwordToggleIcon = document.getElementById("passwordToggleIcon");

        if (passwordInput.type === "password") {
            passwordInput.type = "text";
            passwordToggleIcon.classList.remove("fa-eye-slash");
            passwordToggleIcon.classList.add("fa-eye");
        } else {
            passwordInput.type = "password";
            passwordToggleIcon.classList.remove("fa-eye");
            passwordToggleIcon.classList.add("fa-eye-slash");
        }
    }
</script>
